* {
    margin: 0;
    padding: 0;
    border: 0;
}
body{   
    text-align: center;
    color: #111;
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
    display: flexbox;   
}
header{ 
    display: inline-block;
    padding: 50px;
    border-bottom: 4px solid #000000;
    font-weight: 800;
    width:107%;
    display: flexbox;
    Justify-content:space-evenly;
}
.container{
    text-align: center;
    padding: 20px;
}
.page-tittle{
    margin: 0 0 5px;
}
.page-subtitle{
    margin-top: 10px;
    margin-bottom: 10px;
}
.jogadores{
    width: 110%;
    display: flex;
    Justify-content:space-evenly;
    border-radius: 15px;
    border: 10px solid transparent;
}
.container:hover{
    transform:scale(1.1);
    transition-duration:0.5s ;
}
.image:hover{
    transform:scale(1.1);
    transition-duration:0.5s ;
}
.nbaspurs{
    padding-right: 200px;
}
.nbalogo{
    padding-left: 80px;
}
.nbalogo:hover{
    transform:scale(1.1);
    transition-duration:0.5s ;
}
.nbaspurs:hover{
    transform:scale(1.1);
    transition-duration:0.5s ;
}

h2:hover{
    transform:scale(1.1);
    transition-duration:0.5s ;
}
